body {
  background-color: gray;
}
p {font-size: 30px;
  color: lightblue;
  font-style: oblique;
  font-family: cursive;
  text-decoration: line-through;
}
div {
  background-color: red;
  border: solid blue 38px; 
  height: 200px;
  width: 200px;
  margin: 214px;